.msg-list {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 10px;
}

.msg-user-name {
    width: 20%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal {
    overflow: hidden;
}

.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}

.private-msg-list {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.draggable-modal {
    z-index: 2;
    position: absolute !important;
    max-width: 327px;
}

.navbar {
    z-index: 1;
}
