@model Chat.Infrastructure.ViewModels.PrivateDialogTemplateModel

<div class="col-md-3 ui-widget-content draggable-modal" id="@Model.WindowId">
    <div class="panel panel-info">
        <div class="panel-heading header">
            PRIVAT CHAT HISTORY: @Model.UserName
            <button type="button" class="close private-close">&times;</button>
        </div>

        <ul class="media-list private-msg-list"></ul>

        <div class="panel-footer">
            <div class="input-group">
                <input type="text" class="form-control private-msg-text" placeholder="Enter Message" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-send-private" type="button">SEND</button>
                </span>
            </div>
        </div>
    </div>
</div>